@import url('https://fonts.googleapis.com/css?family=Exo');

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url(LeagueSpartan-Bold.otf) format("opentype");
}

body {
    font-family: 'LeagueSpartan-Bold';
    background-color: black;
    margin: 0px;
    padding: 0px;

}

h2{
  color: white;
  font-size: 2.2em;
  padding: 16px;
}

.hero {
  background-image: url('../images/ralphvr_website_hero_v1.jpg');
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  padding: 16px;
  display: flex;
  flex-wrap: wrap;

}

.center-members {
  justify-content: space-around;
}
.column-members {
  flex-direction: column;
}

.call {
  margin-top: 20px;
  background-color: white;
  width: 20%;
  padding: 30px;
  border-radius: 5px;
}

.call .title {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.call .text {
  margin-top:20px;
  text-align: center;
}

.partner {
  width: 150px;
}
.partner p {
  color: white;
  text-align: center;
}

.project-card{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.project-card .content{
  color: white;
}

@media only screen and (max-width: 600px) {
  .container{
    padding: 8px;
  }
  h2 {
    padding: 8px;
  }
  .call {
    width: 90%;
  }
  .project-card{
    flex-direction: column;
  }
}
