@import url('https://fonts.googleapis.com/css?family=Exo');

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url(LeagueSpartan-Bold.otf) format("opentype");
}


html {
  margin: 0px;
  padding: 0px;
}
body {
    font-family: 'LeagueSpartan-Bold';
    background-color:#6d5794;
    margin: 0px;
    padding: 0px;
}

html, body {width: auto!important; overflow-x: hidden!important}

h2{
  color: white;
  font-size: 2.2em;
  padding: 16px;
}

.hero {
  background-image: url('../images/ralphvr_website_hero_v2.jpg');
  width: 100%;
  height: 837px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
}

.hero h2 {
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.8em;
  width: 100%;
  letter-spacing: 2px;
}

.hero h4 {
  font-family: 'LeagueSpartan-Bold', 'Montserrat', sans-serif;
  font-size: 1.2em;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}


.hero hr {
  width: 45%;
  border: 1px solid white;
}

.mast-container {
  margin-bottom: 4em;
}

.logo-container {
  background-color: #6d5794;
  min-height: 100px;
  padding-top: 50px;
  font-size: 1.5em;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.logo-container p {
  padding: 0px;
  margin: 0.7em 0 0 0.5em;
}

.container{
  padding: 16px;
  display: flex;
  flex-wrap: wrap;

}

.center-members {
  justify-content: space-around;
}
.column-members {
  flex-direction: column;
}

.call {
  margin-top: 20px;
  background-color: white;
  width: 20%;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.call .title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: #6d5794;
}

.call .text {
  margin-top:20px;
  text-align: center;
}

.partner {
  width: 150px;
}
.partner p {
  color: white;
  text-align: center;
}

.project-card{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.project-card .content{
  color: white;
}

.mast-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 150px;
}


@media only screen and (max-width: 600px) {
  .container{
    padding: 8px;
  }
  h2 {
    padding: 8px;
  }
  .call {
    width: 90%;
  }
  .project-card {
    flex-direction: column;
  }

  .logo-container {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  .logo-container img {
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    height: 700px;
    background-position:28% 75%;
  }

  .hero h2 {
    font-size: 2.1em;
    margin-bottom: 0em;
  }

  .hero hr {
    display: none;
  }

  .hero h4 {
    font-size: 1.1em;
    font-weight: lighter;
    font-family: 'Montserrat';
    line-height: 23px;
    margin-top: 0px;
  }

  .mast-container {
    color:#6d5794;
    margin-bottom: 15em;
    padding-left: 0px;
  }

  .mast-container h2{
    color:#6d5794;
  }



}
